@media(max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 238px;
        padding-bottom: 319px;


        &__tittle {
            text-align: center;
            font-size: 32px;
            width: 343px;
        }

        &__text{
            font-size: 14px;
            line-height: 22px;
            width: 343px;
            text-align: center;
        }

        &__span{
            font-size: 14px;
        }

    }

    .options{
        justify-content:center;
        padding-top: 128px;
        padding-bottom: 128px;
    }
}